.about-wrapper {
    /* padding: 170px 0; */
    height: 60vh;
    width: 100%;
    /* background-color:#d7e5e5; */
    /* background: linear-gradient(to right, #D7E5E5, #dfdede); */
    display: flex;
    align-items: center;
    padding: 170px 10%;
    background-image: url(../../../public/images/menu-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;

}

.about-wrapper::after {
    position: absolute;
    height: 60vh;
    width: 100%;
    content: "";
    left: 0;
    top: 0;
    opacity: 0.4;
    background-color: black;
}

.about-title {
    font-size: 5rem;
    font-family: var(--Poppins);
    /* border-bottom: 1px solid #eee; */
    margin-bottom: 2rem;
}

.about-text h3 {
    font-family: var(--Poppins);
    font-size: 2.5rem;
    font-weight: 500;
}

.about-text p {
    width: 60%;
    font-family: var(--Poppins);
    font-size: 1.4rem;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sub-heading h3 {
    font-family: var(--Poppins);
    font-size: 2.5rem;
    font-weight: 500;
}

.sub-heading p {
    font-family: var(--Poppins);
    font-size: 1.4rem;
    font-weight: 300;
}