.checkout-page-bg {
    background-image: url(../../../public/images/checkout-page.jpg);
    width: 100%;
    height: 750px;
    background-size: cover;
    background-position: center center;
    position: relative;

}

.payment-details {
    margin-bottom: 30px;
}

.details-title {
    font-size: 27px;
    font-family: var(--Poppins);
    border-bottom: 1px solid #cccccc8b;
    padding-bottom: 15px;

}

.checkout-payment-bg {}

.checkout-page-bg-inner {
    max-width: 1530px;
    margin: 0 auto;
    padding-top: 180px;
    padding-left: 30px;
    padding-right: 10px;
}

.checkout-page-bg-inner .back-btn {
    position: absolute;
    top: 30px;
    left: 50px;
}

.back-btn .back-icon {
    color: var(--white);
    font-size: 40px;
    transition: all .6s ease;
}

.back-btn .back-icon:hover {
    opacity: .6;
    scale: 1.2;
}


.checkout-page-bg-inner .place-order p {
    margin: 0 !important;

}

.checkout-page-bg-inner .place-order-text {
    font-size: 80px;
    font-family: var(--Poppins);
    font-weight: 800;
    color: var(--white);
    line-height: 90px !important;
    letter-spacing: 2px;
}

.checkout-page-container {
    position: relative;
    height: 100%;
    width: 100%;
    padding-left: 5vw;
    padding-right: 5vw;
    background-color: #fff;
    padding-top: 50px;
    padding-bottom: 160px;

}

.checkout-page-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 100%;
    max-width: 1530px;
    margin: 0 auto;
    justify-content: center;


}

.checkout-page-left {}

.checkout-page-left .checkout-logo-img {
    width: 90px;
}

/* RightSide */
.checkout-page-right {}

.checkout-payment-bg {
    background-color: #444444;
    width: 100%;
    color: #fff;
    padding: 30px 30px;
}

/* ForM */
.form-label {
    font-family: var(--Poppins);
    font-size: 15px;
}

.form-control {
    display: block;
    padding: 15px 10px;
    width: 100%;
    border-radius: 5px;
    background: #f0f0f0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-family: var(--Poppins);
    font-size: 15px;
}

.place-order-btn {

    background: #179957;
    border-radius: 25px;
    border: medium none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 12px;
    text-transform: uppercase;
    width: 100%;
    transition: all 0.4s ease-in-out;

}

@media (max-width: 1199px) {



    .checkout-page-bg-inner .place-order-text {
        font-size: 55px;

    }


}

@media (max-width: 1024px) {
    .checkout-page-bg {
        height: 70vh;
    }

    .checkout-page-bg-inner {
        padding-top: 150px;
        padding-left: 50px;
        padding-right: 10px;
    }

    .checkout-page-bg-inner .back-btn {
        position: absolute;
        top: 25px;
        left: 40px;
    }

    .back-btn .back-icon {
        color: var(--white);
        font-size: 30px;
        transition: all .6s ease;
    }



    .checkout-page-bg-inner .place-order p {
        margin: 0 !important;

    }

    .checkout-page-wrapper {

        grid-template-columns: repeat(1, 1fr);


    }
}

@media (max-width: 667px) {
    .checkout-page-bg {
        height: 50vh;
    }

    .checkout-page-bg-inner {
        width: 100%;
        padding-top: 100px;
        padding-left: 15px;

    }



    .checkout-page-bg-inner .back-btn {
        position: absolute;
        top: 20px;
        left: 15px;
    }

    .back-btn .back-icon {
        font-size: 25px;
    }


    .checkout-page-bg-inner .place-order p {
        margin: 0 !important;

    }

    .checkout-page-bg-inner .place-order-text {
        font-size: 28px;
        line-height: 45px !important;

    }

    .checkout-page-wrapper {

        grid-template-columns: repeat(1, 1fr);


    }
}